<div class="container">
    {{!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div> --}}
    {{#each Parts}}
    <div class="card mt-3">
        <h5 class="card-header">{{this.status}}<a data-_id="{{this._id}}" href="" role="button"
                class="float-right deletePartBtn">X</a></h5>
        <div class="card-body">
            <h5 class="card-title">{{this.part}}</h5>
            <p class="card-text">{{this.note}}</p>
            <a href="{{this.link}}" role="button" class="btn btn-primary">View part</a>
            <a data-_id="{{this._id}}" role="button" class="btn btn-primary float-right ml-2 toDoBtn">Move to
                "to-do"</a>
            <a data-_id="{{this._id}}" role="button" class="btn btn-primary float-right toDoneBtn">Move to
                "installed"</a>
        </div>
    </div>
    {{/each}}
</div>