<div class="container">
    <!--
        <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Filter
        </button>
        <h3 id="filterText">Currently Viewing:</h3>
        <div class="dropdown-menu" aria-labelledby="filterDropdown">
            <a class="dropdown-item" id="{{Parts.0.status}}" href="/viewprogress">All Items</a>
            <a class="dropdown-item" id="{{Parts.0.status}}" href="/filterby/In%20Progress/Drivetrain" >Drivetrain</a>
            <a class="dropdown-item" id="{{Parts.0.status}}" href="/filterby/In%20Progress/Drivetrain">Wheels/Tires/Suspension</a>
            <a class="dropdown-item" id="{{Parts.0.status}}" href="/filterby/In%20Progress/Exterior%20Styling">Exterior Styling</a>
            <a class="dropdown-item" id="{{Parts.0.status}}" href="/filterby/In%20Progress/Interior">Interior</a>
            <a class="dropdown-item" id="{{Parts.0.status}}" href="/filterby/In%20Progress/Lighting">Lighting</a>
            <a class="dropdown-item" id="{{Parts.0.status}}" href="/filterby/Audio">Audio</a>
        </div>
        
    </div>
        -->
    
    {{#each Parts}}
    <div class="card mt-3">
        <h5 class="card-header">{{this.status}}<a data-_id="{{this._id}}" href="" role="button"
                class="float-right deletePartBtn">X</a></h5>
        <div class="card-body">
            <h5 class="card-title">{{this.part}}</h5>
            <h5 class="card-title">{{this.partType}}</h5>
            <p class="card-text">{{this.note}}</p>
            <a href="{{this.link}}" role="button" class="btn btn-primary">View part</a>
            <a data-_id="{{this._id}}" role="button" class="btn btn-primary float-right ml-2 toDoBtn">Move to
                "to-do"</a>
            <a data-_id="{{this._id}}" role="button" class="btn btn-primary float-right toDoneBtn">Move to
                "installed"</a>
        </div>
    </div>
    {{/each}}
</div>